.body-inner{
    width: 80%;
    background-color: rgb(232, 229, 229);
    margin: 0 auto;
    padding-top: 15px;
}
.top{
    width: 550px;
    text-align: center;
    font-size: 26px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    margin-top: 20px;
    font-weight: bold;
    color: rgb(2, 2, 59);
    position: relative;
    border: 3px solid rgb(2, 2, 59);
    border-radius: 15px;
    position: relative;
}
.dot1{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left:150px;
}
.dot2{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left:300px;
}
.dot3{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left:500px;
}
.dot4{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 58px;
    left:100px;
}
.dot5{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 58px;
    left:400px;
}
.dot6{
    background-color: rgb(232, 229, 229);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left:-3px;
}
.top::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: -16px;
    left: 0;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: rgb(2, 2, 59)transparent transparent transparent;
    border-width: 20px 20px 0 30px;
    transform:rotate(147deg);
  }
  .top::after{
    content: "";
    position: absolute;
    right: 0;
    bottom: -9px;
    left: 10.5px;
    width: 0px;
    height: 0px;
    margin: auto;
    border-style: solid;
    border-color: rgb(232, 229, 229) transparent transparent transparent;
    border-width: 20px 20px 0 30px;
    transform:rotate(147deg);
}
.second{
    text-align: center;
    font-size: 36px;
    padding-top: 25px;
    font-weight: bold;
    color: rgb(2, 2, 59);
    padding-bottom: 30px;
}
.boxes{
    display: flex;
    justify-content: center;
}
.box1{
    height: 80px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(2, 2, 59);
    margin-right: 20px;
}
.box2{
    height: 80px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 80px;
    font-size: 26px;
    font-weight: bold;
    color: rgb(2, 2, 59);
    margin-left: 20px;
}
.big-square{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.square{
    background-color: white;
    width: 47%;
    margin: 20px;
    border-radius: 10px;
}
.head{
    display: flex;
    margin: 0 auto;
    width: 70%;
    margin-top: 20px;
    margin-bottom: 15px;
    height: 60px;
}
.icon1{
    width: 30%;
    text-align: right;
    color: rgb(247, 109, 132);
}
.icon2{
    width: 30%;
    text-align: right;
    color: rgb(45, 104, 243);
}
i{
    line-height: 60px;
    font-size: 50px;
}
.text1{
    width: 70%;
    line-height: 60px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(247, 109, 132);
}
.text2{
    width: 70%;
    line-height: 60px;
    padding-left: 30px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(45, 104, 243);
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
}
.small-box{
    width: 40%;
    height: 80px;
    border-radius: 10px;
    margin: 5px 5px;
    line-height: 80px;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    color: rgb(2, 2, 59);
    background-color: pink;
}
.sbox2{
    background-color: rgb(153, 192, 244);
}

@media screen and (max-width:580px){
    .body-inner{
        width: 100%;
        background-color: rgb(232, 229, 229);
        margin: 0 auto;
        padding-top: 15px;
        padding-bottom: 10px;
    }
    .top{
        width: 300px;
        text-align: center;
        font-size: 18px;
        margin: 0 auto;
        height: 60px;
        line-height: 60px;
        margin-top: 20px;
        font-weight: bold;
        color: rgb(2, 2, 59);
        position: relative;
        border: 3px solid rgb(2, 2, 59);
        border-radius: 15px;
        position: relative;
    }
    .dot1{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left:150px;
    }
    .dot2{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left:300px;
    }
    .dot3{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: -5px;
        left:500px;
    }
    .dot4{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 58px;
        left:100px;
    }
    .dot5{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 58px;
        left:400px;
    }
    .dot6{
        background-color: rgb(232, 229, 229);
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 2px;
        left:-3px;
    }
    .top::before{
        content: "";
        position: absolute;
        right: 0;
        bottom: -16px;
        left: 0;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: rgb(2, 2, 59)transparent transparent transparent;
        border-width: 20px 20px 0 30px;
        transform:rotate(147deg);
      }
      .top::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: -9px;
        left: 10.5px;
        width: 0px;
        height: 0px;
        margin: auto;
        border-style: solid;
        border-color: rgb(232, 229, 229) transparent transparent transparent;
        border-width: 20px 20px 0 30px;
        transform:rotate(147deg);
    }
    .second{
        text-align: center;
        font-size: 24px;
        padding-top: 25px;
        font-weight: bold;
        color: rgb(2, 2, 59);
        padding-bottom: 30px;
    }
    .boxes{
        display: block;
        margin-bottom: 30px;
    }
    .box1{
        height: 60px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        line-height: 60px;
        font-size: 26px;
        font-weight: bold;
        color: rgb(2, 2, 59);
        margin: 0 auto;
    }
    .box2{
        height: 60px;
        width: 300px;
        background-color: white;
        border-radius: 10px;
        text-align: center;
        line-height: 60px;
        font-size: 26px;
        font-weight: bold;
        color: rgb(2, 2, 59);
        margin:5px auto;
    }
    .big-square{
        margin-top: 5px;
        display: block;
        margin-bottom: 20px;
    }
    .square{
        background-color: white;
        width: 90%;
        margin: 10px auto;
        border-radius: 10px;
        padding-bottom: 5px;
    }
    .head{
        display: flex;
        margin: 0 auto;
        width: 90%;
        padding-top: 15px;
        height:50px;
    }
    .icon1{
        width: 30%;
        text-align: right;
        color: rgb(247, 109, 132);
    }
    .icon2{
        width: 30%;
        text-align: right;
        color: rgb(45, 104, 243);
    }
    i{
        line-height: 60px;
        font-size: 40px;
    }
    .text1{
        width: 70%;
        line-height: 40px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(247, 109, 132);
    }
    .text2{
        width: 70%;
        line-height: 40px;
        padding-left: 30px;
        font-size: 16px;
        font-weight: bold;
        color: rgb(45, 104, 243);
    }
    .main{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }
    .small-box{
        width: 40%;
        height: 80px;
        border-radius: 10px;
        margin: 5px 5px;
        line-height: 80px;
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        color: rgb(2, 2, 59);
        background-color: pink;
    }
    .sbox2{
        background-color: rgb(153, 192, 244);
    }
}